.banner {
    position: relative;
    background-color: $accent-green;
    height: 456px;
    z-index: -2;

    @media screen and (max-width: $breakpoints-xl) {
        display: none;
    }

    &__title {
        padding-top: 71px;
        padding-bottom: 30px;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        background-image: url(/img/banner/banner.png);
        width: 100%;
        height: 520px;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }
}