.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 13px;
    padding: 15px 40px;
    border: 2px solid $main;
    cursor: pointer;
    transition: all .2s ease-in;



    @media screen and (max-width: $breakpoints-sm) {
        padding: 5px 10px;
        height: 40px !important;
    }

    &:hover {
        background-color: $main-accent;
        border: 2px solid transparent;
    }

    @media (hover: none) {

        border: 2px solid $main !important;
    }


    &_fill,
    &_active {
        color: $white;
        background-color: $main;

        @media (hover: none) {
            background-color: $main !important;
            border: 2px solid $main !important;
        }
    }

    &_round {
        border-radius: 20px;
    }
}