.nav {

    &__list {
        display: flex;
        column-gap: 48px;
        font-size: 15px;
    }

    &__list a {
        color: $main;
        transition: color .2s ease-in;

        &:hover {
            color: $main-accent;
        }


        @media (hover: none) {
            color: $main !important;
            fill: $main !important;
        }
    }
}