.our-work {
    padding-top: 96px;

    @media screen and (max-width: $breakpoints-lg) {
        padding: 40px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $breakpoints-md) {
            grid-template-columns: 1fr;
            text-align: center;
            justify-items: center;
        }
    }

    &__text {
        padding-left: 48px;
        padding-top: 62px;
        font-size: clamp(0.875rem, 0.8009rem + 0.3704vw, 1.125rem);

        @media screen and (max-width: $breakpoints-md) {
            padding-left: 0px;
            padding-top: 25px;

        }
    }

    &__title {
        padding-bottom: 2px;
        text-transform: uppercase;
    }

    &__caption {
        padding-bottom: 38px;

        @media screen and (max-width: $breakpoints-md) {

            padding-bottom: 16px;

        }
    }

    &__title-2 {
        // font-size: 48px;
        font-size: clamp(1.5rem, 1.0556rem + 2.2222vw, 3rem);
        line-height: 1;
        letter-spacing: 0.48px;
    }

    &__description {
        line-height: 1.44;
        letter-spacing: 0.48px;
        padding-bottom: 32px;

        @media screen and (max-width: $breakpoints-md) {

            padding-bottom: 16px;

        }
    }

    &__buttons-wrapper {
        display: flex;
        justify-content: end;

        @media screen and (max-width: $breakpoints-md) {
            justify-content: center;
        }
    }

    &__btn {
        font-weight: 700;
        font-size: 15px;
        line-height: 1.1;
        padding: 0 40px;
        height: 44px;

        @media screen and (max-width: $breakpoints-md) {
            height: 40px;
            padding: 0 20px;
        }
    }
}