.promo {
    padding-top: 113px;
    padding-bottom: 310px;

    @media screen and (max-width: $breakpoints-lg) {
        padding: 40px 0;
    }

    @media screen and (max-width: $breakpoints-sm) {
        padding: 20px 0;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $breakpoints-sm) {
            grid-template-columns: 1fr;

        }
    }

    &__accent {
        padding-top: 130px;

        @media screen and (max-width: $breakpoints-lg) {
            padding-top: 0px;
        }
    }

    &__title {
        padding-bottom: 25px;

        @media screen and (max-width: $breakpoints-sm) {
            br {
                display: none;
            }
        }
    }

    &__text {

        font-size: 17px;
        line-height: 1.5;

        @media screen and (max-width: $breakpoints-lg) {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 25px;
        }

        @media screen and (max-width: $breakpoints-md) {
            font-size: 14px;
        }
    }

    &__lead {
        font-size: clamp(0.6875rem, 0.5764rem + 0.5556vw, 1.0625rem);

        @media screen and (max-width: $breakpoints-sm) {
            text-align: center;
        }
    }

    &__images {
        padding-left: 21px;

        @media screen and (max-width: $breakpoints-sm) {
            display: flex;
            justify-content: center;
        }


    }

    &__higher-img {
        position: relative;

        @media screen and (max-width: $breakpoints-sm) {
            max-width: 200px;
        }


    }

    &__lower-img {
        position: absolute;
        transform: translate(169px, -225px);

        @media screen and (max-width: $breakpoints-xl) {
            right: 15px;
            transform: translate(0, -225px);
            max-width: 325px;
        }

        @media screen and (max-width: $breakpoints-lg) {
            display: none;
        }
    }

    &__higher-person {
        @include promo-person;

        padding: 5px 15px 5px 8px;
        column-gap: 5px;
        top: 15px;
        transform: translateX(-40px);
    }

    &__lower-person {
        @include promo-person;

        padding: 7px 13px 7px 11px;
        column-gap: 12px;
        bottom: 22px;
        transform: translateX(-75px);
    }

    &__higher-name {
        font-size: 11px;
        line-height: 1;
    }

    &__lower-name {
        font-size: 16px;
        line-height: 1;
    }

    &__higher-profession {
        font-size: 9px;
        line-height: 1.2;
    }

    &__lower-profession {
        font-size: 11px;
        line-height: 1.2;
    }



}