.socials {
    display: flex;
    align-items: center;
    column-gap: 19px;

    path {
        transition: all .2s;
    }

    a:hover path {
        fill: rgba(47, 47, 47, 0.64);
    }


    @media (hover: none) {
        path {
            fill: $main !important;
        }
    }
}