@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    letter-spacing: 0.48px;
}

@media screen and (max-width: $breakpoints-lg) {
    a {
        pointer-events: none;
    }
}

body {
    font-family: "Outfit", sans-serif;
    color: $main;
    font-size: 18px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

    @media screen and (max-width: $breakpoints-lg) {
        padding: 0 20px;
    }
}

.title-2 {
    font-size: clamp(1.5rem, 0.7593rem + 3.7037vw, 4rem);
    line-height: 1;
    font-weight: 400;
}

.title-3 {
    // font-size: 35px;
    font-size: clamp(1.25rem, 0.9722rem + 1.3889vw, 2.1875rem);
    line-height: 1;
    font-weight: 400;
}

.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;

    /* Keep the layout */
    position: absolute;

    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    /* browsers in the future */

    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}