@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    letter-spacing: 0.48px;
}


body {
    font-family: "Outfit", sans-serif;
    color: $main;
    font-size: 18px;
}


.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.title-2 {
    font-size: clamp(1.5rem, 0.7593rem + 3.7037vw, 4rem);
    line-height: 1;
    font-weight: 400;
}

.title-3 {
    // font-size: 35px;
    font-size: clamp(1.25rem, 0.9722rem + 1.3889vw, 2.1875rem);
    line-height: 1;
    font-weight: 400;
}

.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: $accent-green;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $breakpoints-lg) {
        bottom: 30px;
        right: 30px;
    }


    &_active {
        display: flex;
    }
}