// colors
$main: #2F2F2F;
$main-accent: #2f2f2fa3;

$accent-green: #82CBAC;
$accent-pink: #FF7F96;
$accent-yellow: #EAD71B;
$accent-gray: #A8C1D8;
$white: #fff;

$accordion-arrow: #79AF98;

$form-input: #F6F6F6;
$form-text: rgba(47, 47, 47, 0.36);

$nft-eye: rgba(168, 193, 216, 0.2);

// media
$breakpoints-xl: 1200px;
$breakpoints-lg: 992px;
$breakpoints-md: 768px;
$breakpoints-sm: 576px;
$breakpoints-ssm: 375px;