// colors

$main: #2F2F2F;
$main-accent: #2f2f2fa3;

$accent-green: #82CBAC;
$accent-pink: #FF7F96;
$accent-yellow: #EAD71B;
$accent-gray: #A8C1D8;

$white: #fff;

$accordion-arrow: #79AF98;


$nft-eye: rgba(168, 193, 216, 0.2);